/* navbar */
.navbar {
	background-color: #660033;
}
.navbar-inverse .navbar-brand {
	color: yellow
	;
}
.navbar-inverse .navbar-nav >li >a {
	color: yellow;
}

/* carousel */
div.carousel-caption h2{
	background-color: #660033;
	color: yellow;
	width: 200px;
	border-radius: 20px;
}

 .top-wine .fa-circle {
	color: #660033;
}
.top-wine .btn {
	background: #660033;
}